@font-face {
    font-family: 'checkpoint';
    src: url('fonts/checkpoint.otf') format('opentype');
}

@font-face {
    font-family: 'sriracha';
    src: url('fonts/sriracha.ttf') format('truetype');
    font-weight: lighter;
    font-style: light;
}

@font-face {
    font-family: 'adigiana';
    src: url('fonts/AdigianaUI.ttf') format('truetype');
}

html,
body {
    background: linear-gradient(to bottom, #feee91, #feee91, #feee91, #8ce4ff);
    overflow-x: hidden;
    height: 100%;
    margin: 0px;
}

h1 {
    font-size: 106px;
    color: rgba(0, 0, 139, 0);
    text-align: center;
    font-family: 'checkpoint';
    -webkit-text-stroke: 4px black;
    text-shadow: 6px 6px 0px rgb(255, 162, 57);

}

.main-container {
    position: relative;
    overflow: hidden;
    background-repeat: repeat-x;
    background-size: 300px 300px;
    margin: -10px;
    height: 100%;
}

.main-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("bg/hex-bg.png");
    background-repeat: repeat-x;
    background-size: 300px 300px;
    opacity: 0.75;
    pointer-events: none;
    z-index: 0;
}

.main-container>* {
    position: relative;
    z-index: 1;
}

.cells-container {
    text-align: center;
    padding-top: 95px;
}

.cells-container p {
    font-family: 'sriracha';
    font-size: 16px;
    margin-top: -45px;
    line-height: 21px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 30px 0;
}

.cell-button {
    background-color: #ff7f7f;
    border: 4px solid black;
    border-radius: 50px;
    width: 220px;
    height: 80px;
    cursor: pointer;
    transition: transform 0.2s;
    font-family: 'adigiana';
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.cell-button:hover {
    transform: scale(1.05);
}

.cell-button:active {
    transform: scale(0.98);
}

.center-button {
    width: 240px;
}

.animal-cell-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 80px 100px 50px 100px;
    gap: 100px;
    min-height: calc(100vh - 200px);
}

.text-section {
    flex: 0 0 45%;
    text-align: left;
    padding-top: 40px;
}

.text-section h1 {
    text-align: left;
    margin-bottom: 30px;
    margin-top: 0;
}

.description-text {
    font-family: 'sriracha';
    font-size: 19px;
    font-style: italic;
    line-height: 28px;
    color: black;
    max-width: 500px;
}

.image-section {
    flex: 0 0 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 20px;
}

.cell-image {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.plant-cell-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 80px 100px 50px 100px;
    gap: 100px;
    min-height: calc(100vh - 200px);
}

.plant-cell-content .text-section {
    flex: 0 0 45%;
    text-align: left;
    padding-top: 40px;
}

.plant-cell-content .text-section h1 {
    text-align: left;
    margin-bottom: 30px;
    margin-top: 0;
}

.plant-cell-content .description-text {
    font-family: 'sriracha';
    font-size: 19px;
    font-style: italic;
    line-height: 28px;
    color: black;
    max-width: 500px;
    margin-bottom: 60px;
}

.cells-title {
    font-size: 90px;
    color: rgba(0, 0, 139, 0);
    text-align: left;
    font-family: 'checkpoint';
    -webkit-text-stroke: 4px black;
    text-shadow: 6px 6px 0px rgb(255, 162, 57);
    margin: 0;
}

.plant-cell-content .image-section {
    flex: 0 0 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 20px;
}

.plant-cell-content .cell-image {
    width: 100%;
    max-width: 600px;
    height: auto;
}