@font-face {
    font-family: 'checkpoint';  
    src: url('fonts/checkpoint.otf') format('opentype');
}

@font-face {
    font-family: 'sriracha';
    src: url('fonts/sriracha.ttf') format('truetype');
    font-weight: lighter;
    font-style: light;
}

html, body {
    background:linear-gradient(to bottom, #feee91, #feee91, #feee91, #8ce4ff);
    overflow-x: hidden;
    height: 100%;
    margin: 0px;
}

h1 {
    font-size: 106px;
    color: rgba(0, 0, 139, 0);
    text-align: center;
    font-family: 'checkpoint';
    -webkit-text-stroke: 4px black; 
    text-shadow: 6px  6px 0px rgb(255, 162, 57);
   
}

.main-container {
    position: relative;
    overflow: hidden;
    background-repeat: repeat-x;
    background-size: 300px 300px;
    margin: -10px;
    height: 100%;
}

.main-container::before {
    content: "";
    position: absolute;
    inset: 0; 
    background-image: url("bg/hex-bg.png");
    background-repeat: repeat-x;
    background-size: 300px 300px;
    opacity: 0.75;       
    pointer-events: none; 
    z-index: 0;
}

.main-container > * {
    position: relative;
    z-index: 1;
}

.cells-container {
    text-align: center;
    padding-top: 95px;
}

.cells-container p {
    font-family: 'sriracha';
    font-size: 16px;
    margin-top: -45px;
    line-height: 21px;
}